.input-container {
  border: 1px solid hsl(249, 10%, 26%);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  margin: 18px 0 2px 0;
  padding: 16px;

  input {
    border: none;
    color: hsl(249, 10%, 26%);
    font-size: 15px;
    font-weight: 700;
    outline: none;
    width: 100%;
  }

  .error-icon {
    float: right;
  }
}

.error-border {
  border: 2px solid #ff7975;
}

.error-message {
  color: #ff7975;
  display: block;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
}