:root {
  --borderRadius: 10px;
}

html, body, p, div, input, main, h1, span {
  margin: 0;
  padding: 0;
}

body {
  background: #ff7975 url("images/bg-intro-desktop.png");
  font-family: 'Poppins', sans-serif;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 60px;
  height: 100vh;
  justify-content: center;
  padding: 0 110px;
}

.left-content {
  color: #ffffff;
  width: 50%;

  h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 40px;
  }

  p {
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    width: 500px;
  }
}

.right-content {
  max-width: 538px;
  width: 50%;

  .alert {
    background: hsl(248, 32%, 49%);
    border-radius: var(--borderRadius);
    box-shadow: 0px 3px 5px rgba(65, 60, 60, 1);
    color: white;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
    padding: 18px;

    span {
      font-weight: 400;
    }
  }

  form {
    background: #ffffff;
    border-radius: var(--borderRadius);
    box-shadow: 0px 3px 5px rgba(65, 60, 60, 1);
    padding: 30px;
    //text-align: center;

    button {
      background: hsl(154, 59%, 51%);
      border: 1px solid hsl(154, 59%, 51%);
      border-radius: 5px;
      box-shadow: 0px 3px 5px rgba(27, 141, 92, 1);
      color: #ffffff;
      cursor: pointer;
      font-size: 15px;
      font-weight: 700;
      margin: 15px 0 22px 0;
      text-align: center;
      padding: 18px;
      text-transform: uppercase;
      width: 100%;
    }

    .terms-and-conditions {
      font-size: 11px;
      text-align: center;

      a {
        color: hsl(0, 100%, 74%);
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    background: #ff7975 url("images/bg-intro-mobile.png");
  }

  .container {
    flex-direction: column;
    gap: 40px;
    padding: 50px 20px;

    .left-content {
      text-align: center;
      width: 100%;

      h1 {
        font-size: 32px;
        line-height: 33px;
      }

      p {
        font-size: 18px;
        line-height: 26px;
        width: 100%;
      }
    }

    .right-content {
      width: 100%;

      .alert {
        padding: 30px 10px;
      }
    }
  }
}